<div class="medicine-kits">
  <!-- Spinner shows when data is being loaded -->
  <mat-progress-spinner
    class="medicine-kits__spinner"
    [ngClass]="{
      'medicine-kits__spinner--not-hidden':
        (loadingMedicine$ | async) || (loadingAuth$ | async)
    }"
    color="primary"
    mode="indeterminate"
    value="50"
  >
  </mat-progress-spinner>

  <h1 class="medicine-kits__title">Tus botiquines</h1>

  <section class="options__container">
    <mat-form-field
      class="options__selector"
      appearance="fill"
      *ngIf="
        !isPatient && !(loadingMedicine$ | async) && !(loadingAuth$ | async)
      "
    >
      <mat-label>Filtra por pacientes</mat-label>
      <mat-select (selectionChange)="loadData($event.value)" [(value)]="userId">
        <mat-option
          *ngFor="let user of userRelationships$ | async; index as i"
          [value]="user.id"
        >
          {{ user.firstName }} {{ user.lastName }}
        </mat-option>
        <mat-option value="0"> Todos los botiquines </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-button
      class="options__button"
      (click)="navigateAddMedicineKit()"
      color="accent"
    >
      <mat-icon>add</mat-icon>
      Añadir botiquín
    </button>
  </section>

  <!-- List dissapears when data is loading -->
  <section
    class="medicine-kits-list"
    *ngIf="!(loadingMedicine$ | async) && !(loadingAuth$ | async)"
  >
    <cdk-virtual-scroll-viewport
      class="medicine-kits-list__viewport"
      appendOnly
      itemSize="200"
    >
      <div
        class="medicine-kits-list__card"
        *cdkVirtualFor="let medicineKit of medicineKits$ | async; index as i"
        (click)="navigateMedicineKitDetails(medicineKit.id)"
      >
        <div class="medicine-kits-list__content">
          <div class="medicine-kits-list__card-header">
            <span class="medicine-kits-list__card-title">
              {{ medicineKit.name }}
            </span>

            <span class="medicine-kits-list__card-note">
              {{ medicineKit.note }}
            </span>
          </div>

          <div class="medicine-kits-list__card-text">
            <!-- If user is not a patient and is not the owner of the medicine kit, it shows ownership -->
            <div *ngIf="!isPatient">
              <span
                class="medicine-kits-list__card-owner"
                *ngIf="medicineKit.owner.id === userId; else notOwner"
              >
                Este botiquín es tuyo.
              </span>
              <ng-template #notOwner>
                <span class="medicine-kits-list__card-owner">
                  Botiquín de {{ medicineKit.owner.firstName }}
                  {{ medicineKit.owner.lastName }}.
                </span>
              </ng-template>
            </div>

            <ul
              class="medicine-kits-list__medicine-list"
              *ngIf="medicineKit.medicines.length > 0; else noMedicines"
            >
              <li>{{ medicineKit.medicines[0].name }}.</li>

              <li *ngIf="medicineKit.medicines[1]">
                {{ medicineKit.medicines[1].name }}.
              </li>

              <li *ngIf="medicineKit.medicines.length - 2 > 0">
                {{ medicineKit.medicines.length - 2 }} medicamentos más.
              </li>
            </ul>

            <ng-template #noMedicines>
              <span>Este botiquín está vacío.</span>
            </ng-template>
          </div>
        </div>

        <div class="medicine-kits-list__card-actions">
          <button
            class="medicine-kits-list__button"
            mat-icon-button
            color="primary"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </section>
</div>
