<custom-header></custom-header>

<div class="add-medicine">
  <h2 class="add-medicine__title">
    {{ medicine.name | shortenText: 50 }}
  </h2>

  <section class="buttons">
    <button mat-fab extended color="primary">
      <mat-icon>edit</mat-icon>
      Cambiar medicamento
    </button>
  </section>

  <section>
    <form
      class="medicine-form"
      [formGroup]="medicineForm"
      (ngSubmit)="submitForms()"
    >
      <mat-form-field
        class="medicine-form__field--expiration-date"
        appearance="fill"
      >
        <mat-label>Fecha de caducidad</mat-label>
        <input
          matInput
          [matDatepicker]="expirationDatePicker"
          [formControl]="expirationDate"
        />
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="expirationDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker touchUi #expirationDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="medicine-form__field--amount" appearance="fill">
        <mat-label>Reserva</mat-label>
        <input
          type="number"
          [formControl]="amountMedicine"
          matInput
          placeholder="1"
        />
      </mat-form-field>

      <mat-form-field
        class="medicine-form__field--medicine-unit"
        appearance="fill"
      >
        <mat-label>Unidad</mat-label>
        <mat-select [formControl]="unitMedicine">
          <mat-optgroup
            *ngFor="let formaFarmaceutica of medicineUnitsArray"
            [label]="formaFarmaceutica[0]"
          >
            <mat-option
              *ngFor="let medicineUnit of formaFarmaceutica[1]"
              [value]="medicineUnit"
            >
              {{ medicineUnit }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </form>
  </section>

  <section>
    <div class="reminder-form__title">
      <h3 class="reminder-form__title-text">Recordatorio</h3>

      <button
        class="reminder-form__button"
        (click)="addReminder = !addReminder"
        mat-mini-fab
        color="primary"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <form
      class="reminder-form"
      *ngIf="addReminder"
      [formGroup]="reminderForm"
      (ngSubmit)="submitForms()"
    >
      <mat-form-field class="reminder-form__field--amount" appearance="fill">
        <mat-label>Tomar</mat-label>
        <input
          type="number"
          [formControl]="amountReminder"
          matInput
          placeholder="1"
        />
      </mat-form-field>

      <span class="reminder-form__medicine-unit">{{ unitMedicine.value }}</span>

      <mat-form-field class="reminder-form__field--frequency" appearance="fill">
        <mat-label>Cada</mat-label>
        <input
          type="number"
          [formControl]="frequency"
          matInput
          placeholder="1"
        />
      </mat-form-field>

      <mat-form-field class="reminder-form__field--frequency-unit">
        <mat-select
          [formControl]="frequencyUnit"
          [(value)]="reminder.frequencyUnit"
        >
          <mat-option value="minutes">Minutos</mat-option>
          <mat-option value="hours">Horas</mat-option>
          <mat-option value="days">Días</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="reminder-form__field--start-date"
        appearance="fill"
      >
        <mat-label>Desde</mat-label>
        <input
          matInput
          [matDatepicker]="startDatePicker"
          [formControl]="startDate"
        />
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="startDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker touchUi #startDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field
        class="reminder-form__field--start-time"
        appearance="fill"
      >
        <mat-label>A las</mat-label>
        <input matInput type="time" [formControl]="startTime" />
      </mat-form-field>

      <mat-form-field
        class="reminder-form__field--finish-date"
        appearance="fill"
      >
        <mat-label>Hasta</mat-label>
        <input
          matInput
          [matDatepicker]="finishDatePicker"
          [formControl]="finishDate"
        />
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="finishDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker touchUi #finishDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field
        class="reminder-form__field--finish-time"
        appearance="fill"
      >
        <mat-label>A las</mat-label>
        <input matInput type="time" [formControl]="finishTime" />
      </mat-form-field>
    </form>
  </section>

  <button
    class="submit-button"
    (click)="submitForms()"
    mat-raised-button
    color="primary"
    [disabled]="
      (addReminder && (medicineForm.invalid || reminderForm.invalid)) ||
      (!addReminder && medicineForm.invalid)
    "
  >
    Añadir medicamento <span *ngIf="addReminder"> y recordatorio</span>
  </button>
</div>

<custom-footer></custom-footer>
