<div class="add-medicine">
  <h2 class="add-medicine__title">
    {{ medicine.name | shortenText : 55 }}
  </h2>

  <section class="buttons">
    <button mat-button extended color="accent">Cambiar medicamento</button>
  </section>

  <section class="medicine-form__section">
    <form
      class="medicine-form"
      [formGroup]="medicineForm"
      (ngSubmit)="submitForms()"
    >
      <mat-form-field
        class="medicine-form__field--expiration-date"
        appearance="fill"
      >
        <mat-label>Fecha de caducidad</mat-label>

        <input
          matInput
          [formControl]="expirationDate"
          [matDatepicker]="dp2"
          placeholder="Select a Date"
        />
        <mat-hint>MM/AAAA</mat-hint>

        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>

        <mat-datepicker
          touchUi
          #dp2
          startView="multi-year"
        ></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="medicine-form__field--amount" appearance="fill">
        <mat-label>Reserva</mat-label>
        <input
          type="number"
          [formControl]="amountMedicine"
          matInput
          placeholder="1"
        />
      </mat-form-field>

      <mat-form-field
        class="medicine-form__field--medicine-unit"
        appearance="fill"
      >
        <mat-label>Unidad</mat-label>
        <mat-select [formControl]="unitMedicine" [value]="medicine.unit">
          <ng-container *ngFor="let via of medicineUnitsArray">
            <mat-optgroup
              *ngFor="let formaFarmaceutica of via"
              [label]="formaFarmaceutica[0]"
            >
              <mat-option
                *ngFor="let medicineUnit of formaFarmaceutica[1]"
                [value]="medicineUnit"
              >
                {{ medicineUnit }}
              </mat-option>
            </mat-optgroup>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </form>
  </section>

  <section class="reminder-form__section">
    <div class="reminder-form__title">
      <h3 class="reminder-form__title-text">Recordatorio</h3>

      <button
        class="reminder-form__button"
        (click)="addReminder = !addReminder"
        mat-button
        color="primary"
      >
        <mat-icon>add</mat-icon>
        <span *ngIf="!isUpdateMode; else updateMode">Añadir</span>
        <ng-template #updateMode>
          <span>Editar</span>
        </ng-template>
      </button>

      <!-- Only allow to delete reminders if we are updating a medicine and the medicine already had one -->
      <button
        class="reminder-form__button"
        *ngIf="isUpdateMode && reminder.id !== 0"
        (click)="deleteReminder()"
        mat-button
        color="warn"
      >
        <mat-icon>delete</mat-icon>
        Eliminar
      </button>
    </div>

    <form
      class="reminder-form"
      *ngIf="addReminder"
      [formGroup]="reminderForm"
      (ngSubmit)="submitForms()"
    >
      <mat-form-field class="reminder-form__field--amount" appearance="fill">
        <mat-label>Tomar</mat-label>
        <input
          type="number"
          [formControl]="amountReminder"
          matInput
          placeholder="1"
        />
      </mat-form-field>

      <div
        class="reminder-form__medicine-unit reminder-form__field--medicine-unit"
      >
        <span class="reminder-form__medicine-unit-text">{{
          unitMedicine.value
        }}</span>
      </div>

      <mat-form-field class="reminder-form__field--frequency" appearance="fill">
        <mat-label>Cada</mat-label>
        <input
          type="number"
          [formControl]="frequency"
          matInput
          placeholder="1"
        />
      </mat-form-field>

      <mat-form-field class="reminder-form__field--frequency-unit">
        <mat-select
          [formControl]="frequencyUnit"
          [(value)]="reminder.frequencyUnit"
        >
          <mat-option value="minutes">Minutos</mat-option>
          <mat-option value="hours">Horas</mat-option>
          <mat-option value="days">Días</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="reminder-form__field--start-date"
        appearance="fill"
      >
        <mat-label>Desde</mat-label>
        <input
          matInput
          [matDatepicker]="startDatePicker"
          [formControl]="startDate"
        />
        <mat-hint>DD/MM/AAAA</mat-hint>

        <mat-datepicker-toggle
          matIconSuffix
          [for]="startDatePicker"
        ></mat-datepicker-toggle>

        <mat-datepicker touchUi #startDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field
        class="reminder-form__field--start-time"
        appearance="fill"
      >
        <mat-label>A las</mat-label>

        <input matInput type="time" [formControl]="startTime" />
      </mat-form-field>

      <mat-form-field
        class="reminder-form__field--finish-date"
        appearance="fill"
      >
        <mat-label>Hasta</mat-label>
        <input
          matInput
          [matDatepicker]="finishDatePicker"
          [formControl]="finishDate"
        />

        <mat-hint>DD/MM/AAAA</mat-hint>

        <mat-datepicker-toggle
          matIconSuffix
          [for]="finishDatePicker"
        ></mat-datepicker-toggle>

        <mat-datepicker touchUi #finishDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field
        class="reminder-form__field--finish-time"
        appearance="fill"
      >
        <mat-label>A las</mat-label>

        <input matInput type="time" [formControl]="finishTime" />
      </mat-form-field>
    </form>
  </section>

  <button
    class="reminder-form__submit-button"
    (click)="submitForms()"
    mat-raised-button
    color="primary"
    [disabled]="
      (addReminder && (medicineForm.invalid || reminderForm.invalid)) ||
      (!addReminder && medicineForm.invalid)
    "
  >
    <span *ngIf="!isUpdateMode; else updateModeMain">Añadir</span>
    <ng-template #updateModeMain>
      <span>Actualizar</span>
    </ng-template>
    medicamento
    <span *ngIf="addReminder"> y recordatorio</span>
  </button>
</div>
