<div class="add-medicine-kit">
  <h1>Añadir un botiquín</h1>

  <form
    class="form"
    [formGroup]="medicineKitForm"
    (ngSubmit)="submitMedicineKit()"
  >
    <mat-form-field class="form__field" appearance="fill">
      <mat-label>Nombre del botiquín </mat-label>

      <input
        type="text"
        [formControl]="medicineKitName"
        matInput
        placeholder="Botiquín de la cocina"
      />

      <div
        class="form__errors"
        *ngIf="
          medicineKitName.errors &&
          medicineKitName.dirty &&
          medicineKitName.touched
        "
      >
        <mat-error
          class="form__error-message"
          *ngIf="medicineKitName.errors?.['required']"
          >Debes ponerle un nombre al botiquín.</mat-error
        >

        <mat-error
          class="form__error-message"
          *ngIf="medicineKitName.errors?.['minlength'] || medicineKitName.errors?.['maxlength']"
          >El nombre debe tener entre 3 y 50 caracteres.</mat-error
        >
      </div>
    </mat-form-field>

    <mat-form-field class="form__field" appearance="fill">
      <mat-label>Añade una nota breve </mat-label>

      <input
        type="text"
        [formControl]="medicineKitNote"
        matInput
        placeholder="Aquí van las tiritas, betadine y analgésicos."
      />
    </mat-form-field>

    <mat-form-field class="form__field" *ngIf="!isPatient" appearance="fill">
      <mat-label>Paciente</mat-label>

      <mat-select [formControl]="ownerId" [value]="userId">
        <mat-option
          *ngFor="let user of userRelationships$ | async; index as i"
          [value]="user.id"
        >
          {{ user.firstName }} {{ user.lastName }}
        </mat-option>

        <mat-option [value]="userId"> Tú </mat-option>
      </mat-select>

      <div
        class="form__errors"
        *ngIf="ownerId.errors && ownerId.dirty && ownerId.touched"
      >
        <mat-error
          class="form__error-message"
          *ngIf="ownerId.errors?.['required']"
          >Debes ponerle un nombre al botiquín.</mat-error
        >
      </div>

      <mat-hint>¿Quién va a utilizar el botiquín?</mat-hint>
    </mat-form-field>

    <button
      class="form__button"
      [disabled]="medicineKitForm.invalid"
      mat-raised-button
      color="primary"
    >
      Crear botiquín
    </button>
  </form>
</div>
