@import '/src/assets/variables.scss';

.search-medicine {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__spinner {
    display: none;

    &--not-hidden {
      display: block;

      margin: 0;

      position: fixed;
      top: 40dvh;
      left: 50%;

      transform: translate(-50%, 0);
    }
  }
}

.form {
  width: 80vw;
  margin-top: 10dvh;

  &__title {
    text-align: center;
  }

  &__field {
    width: 100%;
  }
}

.medicines-list {
  height: 58dvh;
  width: 100%;

  &__viewport {
    height: 58dvh;
    width: 100%
  }

  &__list-item:nth-child(odd) { background-color: $backgrounds; }

  &__list-item {
    width: 80vw;
    min-height: 10dvh;
    margin-inline: auto;
  }

  &__medicine-name {
    white-space: normal;
    word-wrap: break-word;
    display: inline;
  }
}
