<div class="search-medicine">
  <form class="form" [formGroup]="medicineForm">
    <h1 class="form__title">Añadir un medicamento</h1>
    <mat-form-field class="form__field" appearance="fill">
      <mat-label>¿Qué medicamento deseas añadir? </mat-label>
      <input
        type="text"
        [formControl]="medicine"
        matInput
        placeholder="Ibuprofeno CINFA 600mg comprimidos"
      />
    </mat-form-field>
  </form>

  <section class="medicines-list" *ngIf="medicinesSearch.length > 0">
    <mat-list class="medicines-list" role="list">
      <mat-progress-spinner
        class="search-medicine__spinner"
        [ngClass]="{ 'search-medicine__spinner--not-hidden': loading$ | async }"
        color="primary"
        mode="indeterminate"
        value="50"
      >
      </mat-progress-spinner>
      <cdk-virtual-scroll-viewport
        class="medicines-list__viewport"
        *ngIf="!(loading$ | async)"
        itemSize="50"
      >
        <mat-list-item
          class="medicines-list__list-item"
          *cdkVirtualFor="let medicine of medicinesSearch"
          (click)="navigateAddMedicine(medicine)"
          role="listitem"
        >
          <span class="medicines-list__medicine-name">{{
            medicine.name | titlecase
          }}</span>
        </mat-list-item>
      </cdk-virtual-scroll-viewport>
    </mat-list>
  </section>
</div>

<custom-footer></custom-footer>
