<header class="header">
  <!-- Back button is hidden in larger screens -->
  <button
    class="header__back-button"
    mat-icon-button
    color="primary"
    aria-label="Go back"
    (click)="backButtonRedirect()"
    *ngIf="hasBackButton"
  >
    <mat-icon fontIcon="arrow_back"></mat-icon>
  </button>

  <h1 class="header__title">Mi Botiquín</h1>

  <!-- Nav menu is hidden in smaller screens -->
  <nav class="header__nav">
    <button class="header__nav-button"mat-button color="primary">Recordatorios</button>
    <button class="header__nav-button"mat-button color="primary">Botiquines</button>
    <button class="header__nav-button"mat-button color="primary">Inicio</button>
    <button class="header__nav-button"mat-button color="primary">Usuario</button>
  </nav>

  <button
    class="header__notifications-button"
    mat-icon-button
    color="primary"
    [matMenuTriggerFor]="menu"
    [disabled]="notifications.length === 0"
    [ngClass]="{
      'header__notifications-button--active': notifications.length > 0
    }"
    aria-label="Access notifications"
  >
    <mat-icon *ngIf="notifications.length > 0">notifications_unread</mat-icon>
    <mat-icon *ngIf="notifications.length === 0">notifications</mat-icon>
  </button>
  <mat-menu class="notification-menu" #menu="matMenu">
    <div
      class="notification-menu__section"
      *ngIf="expirationNotifications.length > 0"
    >
      <span class="notification-menu__section-title"> Caducidad </span>
      <div
        class="notification-menu__item"
        (click)="clickExpirationNotification(notification)"
        mat-menu-item
        *ngFor="let notification of expirationNotifications"
      >
        <span class="notification-menu__text"
          >{{ notification.medicineName }} ha caducado.</span
        >
      </div>
    </div>

    <div
      class="notification-menu__section"
      *ngIf="relationshipRequestNotifications.length > 0"
    >
      <span class="notification-menu__section-title"> Solicitudes </span>
      <div
        class="notification-menu__item"
        (click)="clickRelationshipRequestNotification(notification)"
        mat-menu-item
        *ngFor="let notification of relationshipRequestNotifications"
      >
        <span class="notification-menu__text"
          >{{ notification.requesterFirstName }} quiere acceder a tus
          botiquines.</span
        >
      </div>
    </div>
  </mat-menu>
</header>
