.header {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  position: relative; /* Necesario para el posicionamiento absoluto opcional */

  padding: 10px 20px;

  background-color: #ececec;
  border-bottom: 1px solid #dee2e6;

  &__title {
    position: absolute; /* Opcional: Centrado exacto */
  left: 50%;
  transform: translateX(-50%);
  margin: 0; /* Elimina márgenes por defecto del h1 */
  }

  &__back-button {
    margin-right: auto;
  }
}

.notification-menu {
  &__item:nth-child(even) {
    background-color: rgb(185, 185, 185);
  }

  &__text {
    display: block;

    margin-block: 1vh;

    font-size: .9rem;
  }
}
