.header {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  position: relative; /* Necesario para el posicionamiento absoluto opcional */

  padding: 10px 20px;

  background-color: #ececec;
  border-bottom: 1px solid #dee2e6;

  &__title {
    position: absolute; /* Opcional: Centrado exacto */
  left: 50%;
  transform: translateX(-50%);
  margin: 0; /* Elimina márgenes por defecto del h1 */
  }

  &__back-button {
    margin-right: auto;
  }

  &__notifications-button--active {
    animation-name: earthquake;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;


  }
}

.notification-menu {
  &__item:nth-child(even) {
    background-color: rgb(185, 185, 185);
  }

  &__section-title {
    margin-inline: 3vw;

    font-weight: 500;
  }

  &__text {
    display: block;

    margin-block: 1vh;

    font-size: .9rem;
  }
}

@keyframes earthquake {
  75% { transform: rotate(-5deg) translateX(-1px); }
  85% { transform: translateY(-1px); }
  100% { transform: rotate(7deg) translateY(1px); }
}
