@import '/src/assets/variables.scss';

.header {
  // Centering elements
  display: flex;
  align-items: center;

  // Keeps header fixed
  position: relative;

  padding: 10px 20px;

  background-color: $backgrounds;
  border-bottom: 1px solid $borders;

  &__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }

  // Nav menu is hidden in smaller screen sizes
  &__nav { display: none; }

  &__back-button { margin-right: auto; }

  // Notification icon shakes when there are unread notifications
  &__notifications-button--active {
    animation-name: earthquake;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes earthquake {
    75% { transform: rotate(-5deg) translateX(-1px); }
    85% { transform: translateY(-1px); }
    100% { transform: rotate(7deg) translateY(1px); }
  }
}

.notification-menu {
  &__item:nth-child(even) { background-color: $backgrounds; }

  &__section-title {
    margin-inline: 3vw;

    font-weight: 500;
  }

  &__text {
    display: block;

    margin-block: 1vh;

    font-size: .9rem;
  }
}
