@import '/src/assets/variables.scss';

// Main container
.relationships {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 10dvh;
  padding-inline: 10vw;


  &__spinner {
    display: none;

    &--not-hidden {
      display: block;

      margin: 0;

      position: fixed;
      top: 40dvh;
      left: 50%;

      transform: translate(-50%, 0);
    }
  }
}

// This is the text that explains how relationships work
// Under the title.
.explanation__text { text-align: center; }

.relationships-search,
.relationships-list {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--add-margin { margin-block: 2dvh; }
  }

  &__list-item:nth-child(odd) { background-color: $backgrounds }

  &__viewport {
    height: 35dvh;
    width: 60vw;
  }
}

.relationships-search__list-item { text-align: center; }

.relationships-list {
  &__title { text-align: center; }
  &__list { padding: 0; }

  &__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-block: 2dvh;
    padding-inline: 5vw;
  }
}
