// Global container and spinner
.home {
  &__spinner {
    display: none;

    &--hidden {
      display: block;
    }
  }
}

// Container for reminder list
.reminders {
  display: flex;
  flex-direction: column;

  &--hidden {
    display: none;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5vh;
    margin-bottom: 2vh;
  }

  &__title-text {
    margin-block: 0;
    margin-inline: 2vw;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-inline: 5vw;
    margin-inline: 5vw;
  }

  &__list-item:nth-child(odd) { background-color: rgb(185, 185, 185); }

  &__button {
    margin-top: 2vh;

    cursor: pointer;
  }
}
