// Global container and spinner
.home {
  &__spinner {
    display: none;

    &--hidden {
      display: block;
    }
  }
}

// Container for reminder/medicine-kits list
.reminders,
.medicine-kits {
  display: flex;
  flex-direction: column;

  &--hidden {
    display: none;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3vh;
    margin-bottom: 1vh;
  }

  &__title-text {
    margin-block: 0;
    margin-inline: 2vw;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-inline: 5vw;
    margin-inline: 5vw;
    max-height: 30dvh;
  }

  &__list-item-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    cursor: pointer;
  }

  &__list-item-container:nth-child(odd),
  &__list-item:nth-child(odd) { background-color: rgb(185, 185, 185); }

  &__button {
    margin-top: 2vh;

    cursor: pointer;
  }

  &__no-reminders-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5vw;
    margin-inline: 10vw;
    height: 25dvh;

    background-color: rgb(185, 185, 185);
  }

  &__no-reminders-message {
    margin: 0;

    text-align: center;
  }
}

.caretakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 3vh;
}
