<custom-header></custom-header>

<div class="home">
  <!-- Spinner shows only when data is loading to store -->
  <mat-progress-spinner
    class="home__spinner"
    [ngClass]="{ 'home__spinner--hidden': loading$ | async }"
    color="primary"
    mode="indeterminate"
    value="50"
  >
  </mat-progress-spinner>

  <!-- Reminders section disapears when page is loading info to store -->
  <section
    class="reminders"
    [ngClass]="{ 'reminders--hidden': loading$ | async }"
  >
    <!-- Title has heading and icon -->
    <div class="reminders__title">
      <!-- Heading -->
      <h2 class="reminders__title-text">Para hoy</h2>

      <!-- Icon -->
      <mat-icon
        class="reminders__title-icon"
        aria-hidden="false"
        aria-label="Recordatorios para hoy"
        fontIcon="calendar_month"
      ></mat-icon>
    </div>

    <!-- Reminders list is only shown when there are reminders for today -->
    <mat-list
      class="reminders__list"
      *ngIf="todaysReminders$ | async; else noReminders"
    >
      <mat-list-item
        class="reminders__list-item"
        *ngFor="let reminder of todaysReminders$ | async; index as i"
      >
        <span matListItemTitle>{{ reminder.medicineName }}</span>

        <span matListItemLine
          >{{ reminder.amount }} {{ reminder.medicineUnit }} -
          {{
            reminder.start
              | nextDose
                : reminder.finish
                : reminder.frequency
                : reminder.frequencyUnit
              | date : "shortTime"
          }}</span
        >
      </mat-list-item>

      <button
        class="reminders__button"
        (click)="navigateRemindersList()"
        mat-raised-button
        color="primary"
      >
        Ver más
      </button>
    </mat-list>

    <!-- Message shown when there are no reminders for today -->
    <ng-template #noReminders>
      <div class="reminders__no-items-container">
        <p class="reminders__no-items-message">
          No tienes recordatorios para hoy.
        </p>
      </div>
    </ng-template>
  </section>

  <!-- Medicine kits section disapears when page is loading info to store -->
  <section
    class="medicine-kits"
    [ngClass]="{ 'medicine-kits--hidden': loading$ | async }"
  >
    <!-- Title has heading and icon -->
    <div class="medicine-kits__title">
      <!-- Heading -->
      <h2 class="medicine-kits__title-text">Tus botiquines</h2>

      <!-- Icon -->
      <mat-icon
        class="medicine-kits__title-icon"
        aria-hidden="false"
        aria-label="Tus botiquines"
        fontIcon="medical_services"
      ></mat-icon>
    </div>

    <mat-list
      class="medicine-kits__list"
      *ngIf="medicineKits$ | async; else noMedicineKits"
    >
      <!-- Every medicine kit is shown in a list item with a title, a note and an arrow button -->
      <div
        class="medicine-kits__list-item-container"
        *ngFor="let medicineKit of medicineKits$ | async; index as i"
        (click)="navigateMedicineKitDetails(medicineKit.id)"
      >
        <!-- Information -->
        <mat-list-item class="medicine-kits__list-item">
          <span matListItemTitle>{{ medicineKit.name }}</span>
          <span matListItemLine>{{ medicineKit.note }}</span>
          <span
            matListItemLine
            *ngIf="
              user !== null &&
              (user.role === 'caretaker' || user.role === 'family member') &&
              medicineKit.owner.id !== user.id
            "
            >Botiquín de {{ medicineKit.owner.firstName }}
            {{ medicineKit.owner.lastName }}</span
          >
          <span
            matListItemLine
            *ngIf="
              user !== null &&
              (user.role === 'caretaker' || user.role === 'family member') &&
              medicineKit.owner.id === user.id
            "
            >Este botiquín es tuyo</span
          >
        </mat-list-item>

        <!-- Button -->
        <button
          mat-icon-button
          color="primary"
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>

      <button
        class="medicine-kits__button"
        (click)="navigateMedicineKitsList()"
        mat-raised-button
        color="primary"
      >
        Ver más
      </button>
    </mat-list>

    <!-- Message shown when there are no medicine kits -->
    <ng-template #noMedicineKits>
      <div class="reminders__no-items-container">
        <p class="reminders__no-items-message">
          No tienes ningún botiquín.
        </p>

        <a href="" routerLink="">Crea uno</a>
      </div>
    </ng-template>
  </section>

  <section class="caretakers">
    <button class="caretakers__button" mat-fab extended color="primary">
      <mat-icon>diversity_3</mat-icon>
      Tus cuidadores o familiares
    </button>
  </section>
</div>

<custom-footer></custom-footer>
