<custom-header></custom-header>

<div class="home">
  <!-- Spinner shows only when data is loading to store -->
  <mat-progress-spinner
    class="home__spinner"
    [ngClass]="{ 'home__spinner--hidden': loading$ | async }"
    color="primary"
    mode="indeterminate"
    value="50"
  >
  </mat-progress-spinner>

  <!-- Reminders section disapears when page is loading info to store -->
  <section
    class="reminders"
    [ngClass]="{ 'reminders--hidden': loading$ | async }"
  >
    <div class="reminders__title">
      <h2 class="reminders__title-text">Para hoy</h2>
      <mat-icon
        class="reminders__title-icon"
        aria-hidden="false"
        aria-label="Recordatorios para hoy"
        fontIcon="calendar_month"
      ></mat-icon>
    </div>

    <mat-list
      class="reminders__list"
      *ngIf="todaysReminders$ | async; else noReminders"
    >
      <mat-list-item
        class="reminders__list-item"
        *ngFor="let reminder of todaysReminders$ | async; index as i"
      >
        <span matListItemTitle>{{ reminder.medicineName }}</span>
        <span matListItemLine
          >{{ reminder.amount }} {{ reminder.medicineUnit }} -
          {{
            reminder.start
              | nextDose
                : reminder.finish
                : reminder.frequency
                : reminder.frequencyUnit
              | date : "shortTime"
          }}</span
        >
      </mat-list-item>

      <button
        class="reminders__button"
        (click)="navigateReminders()"
        mat-raised-button
        color="primary"
      >
        Ver más
      </button>
    </mat-list>

    <ng-template #noReminders>
      <div class="reminders__no-reminders-container">
        <p class="reminders__no-reminders-message">
          No tienes recordatorios para hoy.
        </p>
      </div>
    </ng-template>
  </section>

  <section class="medicine-kits">
    <div class="medicine-kits__title">
      <h2 class="medicine-kits__title-text">Tus botiquines</h2>
      <mat-icon
        class="medicine-kits__title-icon"
        aria-hidden="false"
        aria-label="Tus botiquines"
        fontIcon="medical_services"
      ></mat-icon>
    </div>

    <mat-list class="medicine-kits__list" *ngIf="medicineKits$ | async;else noMedicineKits">
      <mat-list-item
        class="medicine-kits__list-item"
        *ngFor="let medicineKit of medicineKits$ | async; index as i"
      >
        <span matListItemTitle>{{ medicineKit.name }}</span>
        <span matListItemLine>{{ medicineKit.note }}</span>
        <span
          matListItemLine
          *ngIf="
            user !== null &&
            (user.role === 'caretaker' || user.role === 'family member')
          "
          >Botiquín de {{ medicineKit.owner.firstName }}</span
        >
      </mat-list-item>

      <button
        class="medicine-kits__button"
        (click)="navigateMedicineKits()"
        mat-raised-button
        color="primary"
      >
        Ver más
      </button>
    </mat-list>

    <ng-template #noMedicineKits>
      <div class="reminders__no-reminders-container">
        <p class="reminders__no-reminders-message">
          No tienes ningún botiquín.
        </p>

        <a href="" routerLink="">Crea uno</a>
      </div>
    </ng-template>
  </section>

  <section class="caretakers">
    <button class="caretakers__button" mat-fab extended color="primary">
      <mat-icon>diversity_3</mat-icon>
      Tus cuidadores o familiares
    </button>
  </section>
</div>

<custom-footer></custom-footer>
