<footer class="footer">
  <div class="footer__button footer__button--reminders">
    <button mat-mini-fab color="primary" aria-label="Go to reminders">
      <mat-icon>calendar_month</mat-icon>
    </button>
    <small>Reminders</small>
  </div>

  <div class="footer__button footer__button--medicine-kits">
    <button mat-mini-fab color="primary" aria-label="Go to medicine kits">
      <mat-icon>medical_services</mat-icon>
    </button>
    <small>Botiquines</small>
  </div>

  <div class="footer__button footer__button--home">
    <button mat-mini-fab color="primary" aria-label="Go to home page">
      <mat-icon>home</mat-icon>
    </button>
    <small>Inicio</small>
  </div>

  <div class="footer__button">
    <button mat-mini-fab color="primary" aria-label="Go to user profile">
      <mat-icon>person</mat-icon>
    </button>
    <small>Usuario</small>
  </div>
</footer>
