<footer class="footer">
  <div class="footer__button footer__button--reminders" (click)="navigate('remindersList')">
    <button mat-mini-fab color="primary" aria-label="Go to reminders">
      <mat-icon>calendar_month</mat-icon>
    </button>
    <small>Recordatorios</small>
  </div>

  <div class="footer__button footer__button--medicine-kits" (click)="navigate('medicineKitsList')">
    <button mat-mini-fab color="primary" aria-label="Go to medicine kits">
      <mat-icon>medical_services</mat-icon>
    </button>
    <small>Botiquines</small>
  </div>

  <div class="footer__button footer__button--home" (click)="navigate('/')">
    <button mat-mini-fab color="primary" aria-label="Go to home page">
      <mat-icon>home</mat-icon>
    </button>
    <small>Inicio</small>
  </div>

  <div class="footer__button">
    <button mat-mini-fab color="primary" aria-label="Go to user profile">
      <mat-icon>person</mat-icon>
    </button>
    <small>Usuario</small>
  </div>
</footer>
