<custom-header title="Recordatorios"></custom-header>

<!-- <section class="date-picker">
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>
</section> -->

<div class="reminders-list">
  <section class="reminders-list__date-picker">
    <button
      class="reminders-list__back-button"
      mat-mini-fab
      color="primary"
      aria-label="Go to previous day"
      (click)="$event.stopImmediatePropagation(); navigateToPreviousDay()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <h2 class="reminders-list__date" *ngIf="isYesterday">Ayer</h2>
    <h2 class="reminders-list__date" *ngIf="isToday">Hoy</h2>
    <h2 class="reminders-list__date" *ngIf="isTomorrow">Mañana</h2>
    <h2
      class="reminders-list__date"
      *ngIf="!isToday && !isTomorrow && !isYesterday"
    >
      {{ day | dateFormat }}
    </h2>

    <button
      class="reminders-list__back-button"
      mat-mini-fab
      color="primary"
      aria-label="Go to previous day"
      (click)="$event.stopImmediatePropagation(); navigateToNextDay()"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </section>

  <section class="reminders-list__list">
    <div class="reminders-list__time-period" *ngFor="let pair of organizedReminders">
      <h3>{{ pair[0] | date : "shortTime"}}</h3>

      <mat-card class="reminder-list__card" *ngFor="let reminder of pair[1]">
        <mat-card-header>
          <mat-card-title>{{ reminder.medicineName | shortenText}}</mat-card-title>
          <mat-card-subtitle> Consumido/Por consumir</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ reminder.medicineKitName }}</p>
          <p>{{ reminder.amount }} {{ reminder.medicineUnit }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </section>
</div>

<custom-footer></custom-footer>
