.reminders-list {
  padding-inline: 10vw;

  &__date-picker {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    margin-inline: auto;
    margin-block: 5dvh;
    width: 60vw;
  }

  &__date {
    margin-bottom: 0;
  }

  &__time-period {
    margin-bottom: 4dvh;
  }

  &__time-title {
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  &__card {
    margin-bottom: 2dvh;
  }

  &__card-title {
    font-size: 1.1rem;
  }

  &__no-reminders-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60dvh;
    margin-inline: auto;

    background-color: rgb(185, 185, 185);
  }
}
