@import '/src/assets/variables.scss';

.date-picker {
  display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    margin-inline: auto;
    margin-block: 3dvh;
    width: 60vw;

    &__date { margin-bottom: 0; }
}

@media only screen and (min-width: $lg) {
  .date-picker {
    justify-content: space-around;
  }
}

.patient-selector { width: 100%; }

.reminders-list {
  &__viewport {
    height: 72dvh;
    width: 100%;
  }

  @media only screen and (min-width: $lg) {
    &__viewport {
      height: 82dvh;
      width: 100%;
    }
  }

  &__spinner {
    display: none;

    &--not-hidden {
      display: block;

      margin: 0;

      position: fixed;
      top: 40dvh;
      left: 50%;

      transform: translate(-50%, 0);
    }
  }

  &__time-period {
    margin-bottom: 4dvh;
    margin-inline: auto;
    width: 80%;
  }

  &__time-title {
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  @media only screen and (min-width: $lg) {
    &__time-title {
      text-align: center;
    }
  }

  &__card {
    padding-inline: 5vw;
    padding-bottom: 2dvh;
    margin-bottom: 2dvh;

    border-radius: 5px;
    border-bottom: solid 1px $borders;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.5);
    background-color: $backgrounds;

    &--consumed { background-color: #55CFFF; }
    &--consumed .reminders-list__card-content,
    &--consumed .reminders-list__card-header { color: rgb(99, 99, 99) }
  }

  @media only screen and (min-width: $lg) {
    &__card-container:not(.reminders-list__card--one-reminder) {
      display: flex;
      flex-wrap: wrap;
      gap: 2%;
    }

    &__card-container {
      display: flex;
      justify-content: center;
    }

    &__card-container:not(.reminders-list__card--one-reminder) > &__card {
      flex: 1;
      box-sizing: border-box;
    }

    &__card {
      max-width: 48%;
      min-width: 40%;
    }
  }

  &__card-header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: .5dvh;
    border-bottom: solid 1px $borders;
  }

  &__card-state { font-weight: bold; }
  &__card-title,
  &__card-info { display: block; }

  &__card-content {
    margin-top: 1.5dvh;
    margin-bottom: .5dvh;
  }

  &__card-title {
    margin-bottom: .5dvh;

    font-size: 1.1rem;
    font-weight: bold;
  }

  &__card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__no-reminders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 50dvh;
    margin-inline: auto;
  }

  &__no-reminders-text {
    font-size: 1rem;

    text-align: center;
  }
}
