<!-- Main container -->
<div class="reminders">
  <section class="date-picker">
    <button
      mat-icon-button
      color="accent"
      aria-label="Go to previous day"
      (click)="$event.stopImmediatePropagation(); navigateToPreviousDay()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <!-- Depending on the date it will display "Hoy", "Ayer", "Mañana" or the full date -->
    <h2 class="date-picker__date" *ngIf="isYesterday">Ayer</h2>

    <h2 class="date-picker__date" *ngIf="isToday">Hoy</h2>

    <h2 class="date-picker__date" *ngIf="isTomorrow">Mañana</h2>

    <h2
      class="date-picker__date"
      *ngIf="!isToday && !isTomorrow && !isYesterday"
    >
      {{ day | dateFormat }}
    </h2>

    <button
      mat-icon-button
      color="accent"
      aria-label="Go to previous day"
      (click)="$event.stopImmediatePropagation(); navigateToNextDay()"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </section>

  <section class="patient-selector__container" *ngIf="!isPatient">
    <mat-form-field class="patient-selector" appearance="fill">
      <mat-label>Filtra por pacientes</mat-label>
      <mat-select (selectionChange)="loadData($event.value)" [(value)]="userId">
        <mat-option
          *ngFor="let user of userRelationships$ | async; index as i"
          [value]="user.id"
        >
          {{ user.firstName }} {{ user.lastName }}
        </mat-option>
        <mat-option value="0"> Tus recordatorios </mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <!-- Spinner shows when data is loading -->
  <mat-progress-spinner
    class="reminders-list__spinner"
    [ngClass]="{
      'reminders-list__spinner--not-hidden':
        (loadingMedicine$ | async) || (loadingAuth$ | async)
    }"
    color="primary"
    mode="indeterminate"
    value="50"
  >
  </mat-progress-spinner>

  <section *ngIf="!(loadingMedicine$ | async) && !(loadingAuth$ | async)">
    <cdk-virtual-scroll-viewport
      *ngIf="!isRemindersEmpty; else noReminders"
      class="reminders-list__viewport"
      appendOnly
      itemSize="50"
    >
      <!-- organizedReminders is an array of arrays of type [Date, ReminderDTO[]] -->
      <div
        class="reminders-list__time-period"
        *cdkVirtualFor="let pair of organizedReminders$ | async; index as i"
      >
        <h3 class="reminders-list__time-title">
          {{ pair![0] | date : "HH:mm" }}
        </h3>

        <div
          class="reminders-list__card-container"
          [ngClass]="{
            'reminders-list__card--one-reminder': pair![1].length === 1
          }"
        >
          <div
            class="reminders-list__card"
            *ngFor="let reminder of pair![1]"
            [ngClass]="{
              'reminders-list__card--consumed': reminder[1].consumed,
            }"
          >
            <div class="reminders-list__card-header">
              <span
                class="reminders-list__card-state"
                *ngIf="reminder[1]; else notConsumed"
              >
                Consumido
              </span>

              <ng-template #notConsumed>
                <span class="reminders-list__card-state"> Por consumir </span>
              </ng-template>
            </div>

            <div class="reminders-list__card-content">
              <span class="reminders-list__card-title"
                >{{ reminder[0].medicineName }} {{ reminder[0].medicineId }}
              </span>

              <span class="reminders-list__card-info">
                {{ reminder[0].medicineKitName }} - {{ reminder[0].amount }}
                {{ reminder[0].medicineUnit }}
              </span>
            </div>

            <div class="reminders-list__card-actions">
              <button
                mat-button
                color="primary"
                *ngIf="!reminder[1].consumed; else toBeConsumed"
                (click)="
                  changeReminderState(reminder, pair[0], reminder[1].consumed, false)
                "
              >
                Consumir
              </button>

              <ng-template #toBeConsumed>
                <button
                  mat-button
                  color="primary"
                  (click)="
                    changeReminderState(reminder, pair[0], reminder[1].consumed, true)
                  "
                >
                  Dejar de consumir
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>

    <ng-template #noReminders>
      <div class="reminders-list__no-reminders-container">
        <p class="reminders-list__no-reminders-text">
          Aún no tienes ningún recordatorio.
        </p>
        <p class="reminders-list__no-reminders-text">
          Agrega uno a un medicamento para verlos aquí.
        </p>
      </div>
    </ng-template>
  </section>
</div>
