@import '@angular/material/theming';

@include mat-core();

// Colors
$primary: mat-palette($mat-deep-purple, 400);
$accent: mat-palette($mat-pink, 300);
$warn: mat-palette($mat-red, 400);

$primary-hex: #7E57C2;
$accent-hex: #F06E97;
$warn-hex: #EE5379;

$white: #EDEDED;
$black: #121212;

$backgrounds: #B3E9FF;
$borders: #27C2FF;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
$main-font:  "DM Sans", sans-serif;

// Width breeakpoints
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1280px;
