@import '/src/assets/variables.scss';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto,"Helvetica Neue", sans-serif;
  color: $black;

  background-color: $white;
}


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Colors
$my-app-theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    )
  )
);

@include angular-material-theme($my-app-theme);

// Fonts
$custom-typography: mat-typography-config(
  $font-family: $main-font
);

@include angular-material-typography($custom-typography);
