
<div class="medicine-kit" *ngIf="medicineKit$ | async">
  <section class="titles">
    <h2 class="titles__title">{{ (medicineKit$ | async)!.name }}</h2>
    <h3 class="titles__subtite">{{ (medicineKit$ | async)!.note }}</h3>
  </section>

  <section class="buttons">
    <button class="buttons__add" (click)="navigateAddMedicine()" mat-fab extended color="primary">
      <mat-icon>add</mat-icon>
      Añadir medicina
    </button>

    <button class="buttons__remove" mat-fab disabled extended color="primary">
      <mat-icon>delete</mat-icon>
      Eliminar botiquín
    </button>
  </section>

  <section>
    <mat-form-field class="patient-selector" appearance="fill">
      <mat-label>Ordenar</mat-label>
      <mat-select (selectionChange)="orderMedicineKits(+$event.value)">
        <mat-option value="1"> Caducidad </mat-option>
        <mat-option value="0"> No ordenar </mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <section class="medicines-list" *ngIf="medicineKit">
    <cdk-virtual-scroll-viewport
      class="medicines-list__viewport"
      appendOnly
      itemSize="50"
    >
      <div
        class="medicines-list__list-item"
        *cdkVirtualFor="let medicine of sortedMedicines"
      >
        <mat-card class="medicines-list__card">
          <mat-card-header>
            <mat-card-title>{{ medicine.name }}</mat-card-title>
            <mat-card-subtitle
              >Tienes {{ medicine.amount }}
              {{ medicine.unit }}</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <p>Caducidad: {{ medicine.expirationDate | date : 'd/M/yy' }}</p>
          </mat-card-content>
        </mat-card>

        <button class="medicines-list__button" (click)="deleteMedicine(medicine.id)" mat-mini-fab color="warn" aria-label="Delete medicine">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </cdk-virtual-scroll-viewport>
  </section>
</div>

<custom-footer></custom-footer>
