<div class="medicine-kit" *ngIf="medicineKit$ | async">
  <section class="titles">
    <h2 class="titles__title">{{ (medicineKit$ | async)!.name }}</h2>
    <h3 class="titles__subtite">{{ (medicineKit$ | async)!.note }}</h3>
  </section>

  <section class="buttons">
    <button
      class="buttons__remove"
      (click)="deleteMedicineKit()"
      mat-button
      color="warn"
    >
      <mat-icon>delete</mat-icon>
      Eliminar botiquín
    </button>
  </section>

  <section class="medicine-kit__options">
    <mat-form-field class="medicine-kit__patient-selector" appearance="fill">
      <mat-label>Ordenar</mat-label>
      <mat-select (selectionChange)="orderMedicineKits(+$event.value)">
        <mat-option value="1"> Caducidad </mat-option>
        <mat-option value="0"> No ordenar </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      class="medicine-kit__button"
      (click)="navigateAddMedicine()"
      mat-fab
      extended
      color="primary"
    >
      <mat-icon>add</mat-icon>
      Añadir medicina
    </button>
  </section>

  <section class="medicines-list" *ngIf="medicineKit">
    <cdk-virtual-scroll-viewport
      class="medicines-list__viewport"
      appendOnly
      itemSize="50"
    >
      <div
        class="medicines-list__card"
        *cdkVirtualFor="let medicine of sortedMedicines"
        (click)="navigateEditMedicine(medicine)"
      >
        <div class="medicines-list__content">
          <div class="medicines-list__card-header">
            <span class="medicines-list__card-title">
              {{ medicine.name }}
            </span>

            <span class="medicines-list__card-amount">
              Tienes {{ medicine.amount }} {{ medicine.unit }}
            </span>
          </div>

          <div class="medicines-list__card-text">
            <span>
              Caducidad: {{ medicine.expirationDate | date : "d/M/yy" }}
            </span>
          </div>
        </div>

        <div class="medicines-list__card-actions">
          <button
            class="medicines-list__button"
            mat-icon-button
            color="warn"
            aria-label="Delete medicine"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </section>
</div>

<custom-footer></custom-footer>
