<h1 class="medicine-consumption-dialog__title" mat-dialog-title>
  ¿Confirmar consumición?
</h1>
<div class="medicine-consumption-dialog__content" mat-dialog-content>
  Puedes marcar el medicamento como
  <span *ngIf="consumed">"Por consumir", sumando</span>
  <span *ngIf="!consumed">"Consumido", restando</span>
  las unidades de la consumición al total de tu botiquín, o sin afectar a este
  valor.
</div>
<div mat-dialog-actions>
  <button
    class="medicine-consumption-dialog__button"
    color="primary"
    mat-button
    mat-dialog-close
    (click)="fullConsumption()"
  >
    <span *ngIf="consumed">Dejar de consumir</span>
    <span *ngIf="!consumed">Consumir</span>
    y restar unidades
  </button>

  <button
    class="medicine-consumption-dialog__button"
    color="accent"
    mat-button
    mat-dialog-close
    (click)="halfConsumption()"
  >
    <span *ngIf="consumed">Dejar de consumir</span>
    <span *ngIf="!consumed">Consumir</span>
    sin restar unidades
  </button>

  <button
    class="medicine-consumption-dialog__button"
    mat-button
    mat-dialog-close
  >
    Cancelar
  </button>
</div>
