.medicine-consumption-dialog {
  &__title, &__content {
    text-align: center;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

  &__button {
    margin-inline: auto;
  }
}
